.card {
  grid-auto-rows: auto;
}

.player-form {
  margin: auto;
  width: 70%;
  height: 70%;
  border: 10px solid rgb(75, 68, 71);
  padding: 100px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url("https://o.aolcdn.com/images/dims?quality=85&image_uri=http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2F6623d5a6ae583f81ee3515b6b3615c7f%2F204855766%2Flandscape-1456483171-pokemon2.jpg&client=amp-blogside-v2&signature=a66341cc83efebc3c63cadf0db972d9a16e1b05d");
}

.ui.four.cards > .card {
  width: auto;
  margin-top: 0.5;
  margin-bottom: 0.5;
}
.ui.grid > * {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.avatar {
  width: 15%;
  height: 15%;
  position: center;
}

.score-list {
  position: center;
}
body {
  background-color: lightgray;
}

h1,
div {
  text-align: center;
}

.score-form {
  margin: auto;
  width: 70%;
  height: 70%;
  border: 10px solid rgb(75, 68, 71);
  padding: 100px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url("https://o.aolcdn.com/images/dims?quality=85&image_uri=http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2F6623d5a6ae583f81ee3515b6b3615c7f%2F204855766%2Flandscape-1456483171-pokemon2.jpg&client=amp-blogside-v2&signature=a66341cc83efebc3c63cadf0db972d9a16e1b05d");
  overflow: scroll;
}

.score-board {
  background-color: white;
  position: relative;
}
.ui.positive.button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.instructions {
  margin: auto;
  width: 30%;
  height: 30%;
  border: 2px solid rgb(75, 68, 71);
  padding: 20px;
  margin: 0;
  position: absolute;
  top: 80%;
  left: 80%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: scroll;
  border-radius: 5px;
}