/* .ui.four.doubling.cards {
  width: 300px;
  height: 300px;
} */

/* .ui.card {
  width: 25%;
  height: 25%;
}

img {
  width: 25%;
  height: 25%;
} */

.card {
  grid-auto-rows: auto;
}

.player-form {
  margin: auto;
  width: 50%;
  border: 10px solid lightskyblue;
  padding: 30px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ui.four.cards > .card {
  width: auto;
  margin-top: 0.5;
  margin-bottom: 0.5;
}
.ui.grid > * {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.avatar {
  width: 15%;
  height: 15%;
  position: center;
}
